.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
#.pnp.*

node_modules
dist
img
!img/.gitkeep
label
!label/type.json5
!label/.gitkeep
dist*

src/insertTools/**/*.zip

!mod/.gitkeep
!mod/i18n
!mod/ImageLoaderHook
!mod/ModLoaderGui
!mod/CheckDoLCompressorDictionaries
!mod/CheckGameVersion
!mod/Diff3WayMerge
!mod/ModdedClothesAddon
!mod/ModdedFeatsAddon
!mod/ModdedHairAddon
!mod/ConflictChecker
!mod/SweetAlert2Mod
!mod/ModuleCssReplacer
!mod/TweeReplacerLinker
!mod/I18nTweeReplacer
!mod/TweeReplacer
!mod/template
!mod/I18nTweeList
!mod/I18nScriptList
!mod/TweePrefixPostfixAddon
!mod/BeautySelectorAddon
!mod/DoLTimeWrapperAddon
!mod/DoLHookWidget
mod

