[submodule "mod/i18n"]
	path = mod/i18n
	url = https://github.com/Lyoko-Jeremie/Degrees-of-Lewdity_Mod_i18nMod.git
[submodule "mod/ModLoaderGui"]
	path = mod/ModLoaderGui
	url = https://github.com/Lyoko-Jeremie/sugarcube-2-ModLoaderGui.git
	branch = master
[submodule "mod/ImageLoaderHook"]
	path = mod/ImageLoaderHook
	url = https://github.com/Lyoko-Jeremie/DoL_ImgLoaderHooker.git
	branch = master
[submodule "mod/CheckDoLCompressorDictionaries"]
	path = mod/CheckDoLCompressorDictionaries
	url = https://github.com/Lyoko-Jeremie/Degrees-of-Lewdity_Mod_CheckDoLCompressorDictionaries.git
	branch = master
[submodule "mod/TweeReplacer"]
	path = mod/TweeReplacer
	url = https://github.com/Lyoko-Jeremie/Degrees-of-Lewdity_Mod_TweeReplacer.git
	branch = master
[submodule "mod/ReplacePatch"]
	path = mod/ReplacePatch
	url = https://github.com/Lyoko-Jeremie/Degrees-of-Lewdity_Mod_ReplacePatch.git
	branch = master
[submodule "mod/CheckGameVersion"]
	path = mod/CheckGameVersion
	url = https://github.com/Lyoko-Jeremie/Degrees-of-Lewdity_Mod_CheckGameVersion.git
	branch = master
[submodule "mod/Diff3WayMerge"]
	path = mod/Diff3WayMerge
	url = https://github.com/Lyoko-Jeremie/Mod_Diff3WayMerge.git
	branch = master
[submodule "mod/ModdedClothesAddon"]
	path = mod/ModdedClothesAddon
	url = https://github.com/Lyoko-Jeremie/DoL_ModdedClothesAddon.git
	branch = master
[submodule "mod/ModdedFeatsAddon"]
	path = mod/ModdedFeatsAddon
	url = https://github.com/Lyoko-Jeremie/DoL_ModdedFeatsAddon.git
	branch = master
[submodule "mod/ConflictChecker"]
	path = mod/ConflictChecker
	url = https://github.com/Lyoko-Jeremie/ConflictCheckerAddon.git
	branch = master
[submodule "mod/SweetAlert2Mod"]
	path = mod/SweetAlert2Mod
	url = https://github.com/Lyoko-Jeremie/SweetAlert2Mod.git
	branch = master
[submodule "mod/ModuleCssReplacer"]
	path = mod/ModuleCssReplacer
	url = https://github.com/Lyoko-Jeremie/DoL_ModuleCssReplacerAddon.git
	branch = master
[submodule "mod/I18nTweeReplacer"]
	path = mod/I18nTweeReplacer
	url = https://github.com/Lyoko-Jeremie/I18nTweeReplacerMod.git
	branch = master
[submodule "mod/template"]
	path = mod/template
	url = https://github.com/Lyoko-Jeremie/TemplateMod.git
	branch = master
[submodule "mod/I18nTweeList"]
	path = mod/I18nTweeList
	url = https://github.com/Lyoko-Jeremie/I18nTweeListAddonMod.git
	branch = master
[submodule "mod/TweeReplacerLinker"]
	path = mod/TweeReplacerLinker
	url = https://github.com/Lyoko-Jeremie/TweeReplacerLinkerAddon.git
	branch = master
[submodule "mod/BeautySelectorAddon"]
	path = mod/BeautySelectorAddon
	url = https://github.com/Lyoko-Jeremie/DoL_BeautySelectorAddonMod.git
	branch = master
[submodule "mod/I18nScriptList"]
	path = mod/I18nScriptList
	url = https://github.com/Lyoko-Jeremie/I18nScriptListAddonMod.git
	branch = master
[submodule "mod/DoLTimeWrapperAddon"]
	path = mod/DoLTimeWrapperAddon
	url = https://github.com/Lyoko-Jeremie/DoLTimeWrapperAddonMod.git
	branch = master
[submodule "mod/DoLHookWidget"]
	path = mod/DoLHookWidget
	url = https://github.com/Lyoko-Jeremie/DoLHookWidgetMod.git
	branch = master
[submodule "mod/TweePrefixPostfixAddon"]
	path = mod/TweePrefixPostfixAddon
	url = https://github.com/Lyoko-Jeremie/TweePrefixPostfixAddonMod.git
	branch = master
[submodule "mod/ModdedHairAddon"]
	path = mod/ModdedHairAddon
	url = https://github.com/Lyoko-Jeremie/DoL_ModdedHairAddon.git
	branch = master
