
name: Build ModLoader Package

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      # Set up a matrix to run the following 3 configurations:
      # 1. <Windows, Release, latest MSVC compiler toolchain on the default runner image, default generator>
      # 2. <Linux, Release, latest GCC compiler toolchain on the default runner image, default generator>
      # 3. <Linux, Release, latest Clang compiler toolchain on the default runner image, default generator>
      #
      # To add more build types (Release, Debug, RelWithDebInfo, etc.) customize the build_type list.
      matrix:
        # https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
        os: [ ubuntu-latest ]
        #os: [ ubuntu-latest, windows-latest ]
        #build_type: [ Release ]
        #c_compiler: [ gcc, cl ]
        #ssl_type: [ StaticSSL, DynamicSSL ]
        #build_mode: [ Normal, ProxyHandshakeAuth, MINI_BUILD_MODE ]
        node-version: [ 18.x ]
        #include:
        #  - os: windows-latest
        #    c_compiler: cl
        #    cpp_compiler: cl
        #    toolset: msvc
        #    version: 2022
        #  - os: ubuntu-latest
        #    c_compiler: gcc
        #    cpp_compiler: g++
        #    toolset: gcc
        #    version: 22.04
        #    gcc: 12

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: corepack enable
        run: corepack enable

      - name: Build ModLoader
        run: |
          yarn install
          yarn run ts:BeforeSC2
          yarn run webpack:BeforeSC2
          yarn run webpack:BeforeSC2-comp
          yarn run ts:ForSC2
          yarn run webpack:insertTools
          yarn run tras:babel

      - name: Build ModLoaderGui
        working-directory: ${{ github.workspace }}/mod/ModLoaderGui
        run: |
          cd ${{ github.workspace }}/mod/ModLoaderGui
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy ModLoaderGui
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/ModLoaderGui/ModLoaderGui.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build ImageLoaderHook
        working-directory: ${{ github.workspace }}/mod/ImageLoaderHook
        run: |
          cd ${{ github.workspace }}/mod/ImageLoaderHook
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy ImageLoaderHook
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/ImageLoaderHook/ModLoader DoL ImageLoaderHook.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build ReplacePatch
        working-directory: ${{ github.workspace }}/mod/ReplacePatch
        run: |
          cd ${{ github.workspace }}/mod/ReplacePatch
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy ReplacePatch
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/ReplacePatch/ReplacePatcher.mod.zip
          target: ${{ github.workspace }}/out

      # TweeReplacerLinker must build before `TweeReplacer` and `I18nTweeReplacer`
      - name: Build TweeReplacerLinker
        working-directory: ${{ github.workspace }}/mod/TweeReplacerLinker
        run: |
          cd ${{ github.workspace }}/mod/TweeReplacerLinker
          yarn install
          yarn run ts:type
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy TweeReplacerLinker
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/TweeReplacerLinker/TweeReplacerLinker.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build TweeReplacer
        working-directory: ${{ github.workspace }}/mod/TweeReplacer
        run: |
          cd ${{ github.workspace }}/mod/TweeReplacer
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy TweeReplacer
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/TweeReplacer/TweeReplacer.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build I18nTweeReplacer
        working-directory: ${{ github.workspace }}/mod/I18nTweeReplacer
        run: |
          cd ${{ github.workspace }}/mod/I18nTweeReplacer
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy I18nTweeReplacer
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/I18nTweeReplacer/I18nTweeReplacer.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build CheckDoLCompressorDictionaries
        working-directory: ${{ github.workspace }}/mod/CheckDoLCompressorDictionaries
        run: |
          cd ${{ github.workspace }}/mod/CheckDoLCompressorDictionaries
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy CheckDoLCompressorDictionaries
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/CheckDoLCompressorDictionaries/CheckDoLCompressorDictionaries.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build CheckGameVersion
        working-directory: ${{ github.workspace }}/mod/CheckGameVersion
        run: |
          cd ${{ github.workspace }}/mod/CheckGameVersion
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy CheckGameVersion
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/CheckGameVersion/CheckGameVersion.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build Diff3WayMerge
        working-directory: ${{ github.workspace }}/mod/Diff3WayMerge
        run: |
          cd ${{ github.workspace }}/mod/Diff3WayMerge
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy Diff3WayMerge
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/Diff3WayMerge/Diff3WayMerge.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build DoLTimeWrapperAddon
        working-directory: ${{ github.workspace }}/mod/DoLTimeWrapperAddon
        run: |
          cd ${{ github.workspace }}/mod/DoLTimeWrapperAddon
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy DoLTimeWrapperAddon
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/DoLTimeWrapperAddon/DoLTimeWrapperAddon.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build ModdedClothesAddon
        working-directory: ${{ github.workspace }}/mod/ModdedClothesAddon
        run: |
          cd ${{ github.workspace }}/mod/ModdedClothesAddon
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy ModdedClothesAddon
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/ModdedClothesAddon/ModdedClothesAddon.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build ModdedFeatsAddon
        working-directory: ${{ github.workspace }}/mod/ModdedFeatsAddon
        run: |
          cd ${{ github.workspace }}/mod/ModdedFeatsAddon
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy ModdedFeatsAddon
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/ModdedFeatsAddon/ModdedFeatsAddon.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build ModdedHairAddon
        working-directory: ${{ github.workspace }}/mod/ModdedHairAddon
        run: |
          cd ${{ github.workspace }}/mod/ModdedHairAddon
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy ModdedHairAddon
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/ModdedHairAddon/ModdedHairAddon.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build ConflictChecker
        working-directory: ${{ github.workspace }}/mod/ConflictChecker
        run: |
          cd ${{ github.workspace }}/mod/ConflictChecker
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy ConflictChecker
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/ConflictChecker/ConflictChecker.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build I18nTweeList
        working-directory: ${{ github.workspace }}/mod/I18nTweeList
        run: |
          cd ${{ github.workspace }}/mod/I18nTweeList
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy I18nTweeList
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/I18nTweeList/I18nTweeList.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build I18nScriptList
        working-directory: ${{ github.workspace }}/mod/I18nScriptList
        run: |
          cd ${{ github.workspace }}/mod/I18nScriptList
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy I18nScriptList
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/I18nScriptList/I18nScriptList.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build TweePrefixPostfixAddon
        working-directory: ${{ github.workspace }}/mod/TweePrefixPostfixAddon
        run: |
          cd ${{ github.workspace }}/mod/TweePrefixPostfixAddon
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy TweePrefixPostfixAddon
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/TweePrefixPostfixAddon/TweePrefixPostfixAddon.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build SweetAlert2Mod
        working-directory: ${{ github.workspace }}/mod/SweetAlert2Mod
        run: |
          cd ${{ github.workspace }}/mod/SweetAlert2Mod
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy SweetAlert2Mod
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/SweetAlert2Mod/SweetAlert2Mod.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build ModuleCssReplacer
        working-directory: ${{ github.workspace }}/mod/ModuleCssReplacer
        run: |
          cd ${{ github.workspace }}/mod/ModuleCssReplacer
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy ModuleCssReplacer
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/ModuleCssReplacer/ModuleCssReplacer.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build BeautySelectorAddon
        working-directory: ${{ github.workspace }}/mod/BeautySelectorAddon
        run: |
          cd ${{ github.workspace }}/mod/BeautySelectorAddon
          yarn install
          yarn run build:ts
          yarn run build:webpack
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy BeautySelectorAddon
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/BeautySelectorAddon/BeautySelectorAddon.mod.zip
          target: ${{ github.workspace }}/out

      - name: Build DoLHookWidget
        working-directory: ${{ github.workspace }}/mod/DoLHookWidget
        run: |
          cd ${{ github.workspace }}/mod/DoLHookWidget
          node "${{ github.workspace }}/dist-insertTools/packModZip.js" "boot.json"
      - name: Copy DoLHookWidget
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/mod/DoLHookWidget/DoLHookWidget.mod.zip
          target: ${{ github.workspace }}/out


      - name: Copy dist-BeforeSC2
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/dist-BeforeSC2/**/*
          target: ${{ github.workspace }}/out/dist-BeforeSC2/
      - name: Copy dist-BeforeSC2-comp
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/dist-BeforeSC2-comp/**/*
          target: ${{ github.workspace }}/out/dist-BeforeSC2-comp/
      - name: Copy dist-BeforeSC2-comp-babel
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/dist-BeforeSC2-comp-babel/**/*
          target: ${{ github.workspace }}/out/dist-BeforeSC2-comp-babel/
      - name: Copy dist-ForSC2
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/dist-ForSC2/**/*
          target: ${{ github.workspace }}/out/dist-ForSC2/
      - name: Copy dist-insertTools
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/dist-insertTools/**/*
          target: ${{ github.workspace }}/out/dist-insertTools/

      - name: Copy README.md
        uses: Lyoko-Jeremie/js-copy-github-action@master
        with:
          source: ${{ github.workspace }}/README.md
          target: ${{ github.workspace }}/out

      - name: Upload ModLoader Package
        uses: actions/upload-artifact@v3
        with:
          name: ModLoader Package
          path: ${{ github.workspace }}/out

      - name: Upload insertTools
        uses: actions/upload-artifact@v3
        with:
          name: insertTools
          path: ${{ github.workspace }}/dist-insertTools



